
.mainContainer {
  background: rgb(68,5,7);
  background: linear-gradient(90deg, rgba(68,5,7,1) 0%, rgba(101,51,51,1) 54%, rgba(91,48,48,1) 100%);
  color: #fff;
  text-shadow: 1.5px 1.5px black;
  width: 100vw;
  min-height: 100vh;

}